<%= form_with(model: toy, local: true) do |form| %>
  <!-- go through errors syntax -->
  <% if toy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(toy.errors.count, "error") %> prohibited this toy from being saved:</h2>

      <ul>
      <% toy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :date_posted %>
    <%= form.date_select :date_posted %>
  </div>

  <div class="field">
    <%= form.label :posted_by %>
    <%= form.collection_select(:user_id, User.all, :name, :email) %>
  </div>

  <div class="field">
<%# Manufacturer select %>
    <%= form.label :manufacturer %>
    <%= form.collection_select(:manufacturer_id, Manufacturer.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, accept: 'image/png,image/gif,image/jpeg,image/jpg' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
