<p id="notice"><%= notice %></p>

<h1>
  <strong>Name:</strong>
  <%= @toy.name %>
</h1>

<%= image_tag((@toy.image if @toy.image.attached?), class: 'img-thumbnail', style: 'width: 200px; height:200px;') %>

<p>
  <strong>Description:</strong>
  <%= @toy.description %>
</p>

<p>
  <strong>Date posted:</strong>
  <%= @toy.date_posted %>
</p>

<p>
  <strong>Posted by:</strong>
  <%= @toy.posted_by %>
</p>

<%= link_to 'Edit', edit_toy_path(@toy) %>
<%= link_to 'Back', toys_path %>
<%= link_to 'Destroy', @toy, method: :delete, data: { confirm: 'Are you sure?' }, class: "button-danger" %>